*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
 body{
  background-image: url("Nitro_Wallpaper_03_3840x2400.jpg" );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
 
    }
    .container{
        box-shadow: 10px 10px 20px;
    align-items: center;
     border-radius: 14px;
     padding: 20px;
    display: flex;
    width:800px;
    height: 430px;
    background-color: rgb(125, 6, 6);
    margin: auto;
    margin-top: 50px;
    }
    
    .form{

        background-color: rgb(213, 63, 63);
        align-items: center;
        border: 1px solid black;
        padding: 50px;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 397px;
    
    }
 .form h2{
        font-size:45px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .side{
        display: flex;
    }
    .side img{
      
        width:400px ;
        height: 397px;
        border: 1px solid black;
    }
    .box{
        padding: 6px;
        border-radius: 14px;
        text-align: center;
        width: 250px;
        margin: 9px;
    }
    #Submit{
        padding:5px;
    background-color: aliceblue;
    color: black;
    border-radius: 14px;
    width: 150px;
    margin-top: 10px;
    }
    #Submit:hover{ 
        cursor: pointer;
        background-color: black;
        color: white;
    margin-top: 10px;
    }
    
    
